In [2]:
import torch
import torch.optim as optim
import numpy as np
from transformer import Transformer
from metrics import Evaluator
from datasets import load_dataset
from utils import *
from training import *
from tokenizer import *

device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device}")

Using cpu

In [4]:
traindict = load_dataset("opus100", "de-en", split="train")
testdict = load_dataset("opus100", "de-en", split="test")

Found cached dataset opus100 (/Users/tonimo/.cache/huggingface/datasets/opus100/de-en/0.0.0/256f3196b69901fb0c79810ef468e2c4ed84fbd563719920b1ff1fdc750f7704)
Found cached dataset opus100 (/Users/tonimo/.cache/huggingface/datasets/opus100/de-en/0.0.0/256f3196b69901fb0c79810ef468e2c4ed84fbd563719920b1ff1fdc750f7704)

In [5]:
train_inputs, train_labels = get_split(traindict, "en", "de", size=100000)
test_inputs, test_labels = get_split(testdict, "en", "de", size=1000)
trainset = Dataset(train_inputs, train_labels)
testset = Dataset(test_inputs, test_labels)

In [7]:
trainframe = trainset.dataframe()
trainframe.head()

,inputs,labels
0,It's greed that it's gonna be the death of you...,Deine Habgier wird noch dein Tod sein.
1,Vega.,- Vega.
2,Just say when.,Sagen Sie einfach stopp.
3,- Wait.,- Warte.
4,I don't wanna be here.,Ich will nicht hier sein.

In [8]:
testframe = testset.dataframe()
testframe.head()

,inputs,labels
0,"By clicking on 'Save profile', you the user ag...",Die Nutzungsbedingungen werden durch das Klick...
1,I wanted to show you something first.,Ich wollte dir erst noch etwas zeigen.
2,You have suffered because of Shinkichi.,Du musstest wegen Shinkichi leiden.
3,"moodle:bg-bab: Calendar: Day view: Friday, 25 ...",moodle:bg-bab: Kalender: Tagesansicht: Freitag...
4,"I mean, most people, they see another person w...","Ich meine, die meisten Leuten sehen eine ander..."

In [9]:
print(trainframe.isnull().values.any())
trainframe.describe()

False

          inputs                             labels
count     100000                             100000
unique     96385                              96634
top     Whereas:  in Erw채gung nachstehender Gr체nde:
freq          49                                 48

In [10]:
print(testframe.isnull().values.any())
testframe.describe()

False

       inputs labels
count    1000   1000
unique    999    998
top      Yes.    Ja.
freq        2      3

In [35]:
trainset.sample()

[('Sunday 28 February, 2016 5127833 requests since Monday 23 February, 2004',
  'Sonntag, 28. Februar 2016 5128023 Zugriffe seit Montag, 23. Februar 2004')]

In [36]:
testset.sample()

[('Tania Sikelianou, Violonist and composer (Greece)',
  'Tania Sikelianou, Violonistin und Komponistin (Griechenland)')]

In [37]:
corpus = trainset.corpus() + testset.corpus()
tokenizer = Nerdimizer()
tokenizer.train(corpus, size=50000)

In [38]:
vocab_size = len(tokenizer)
maxlen = trainset.avglen(tokenizer, factor=15)
start, end, pad = tokenizer["[S]"], tokenizer["[E]"], tokenizer["[P]"]
tokenizer.padon(maxlen, pad_id=pad, end=True)
tokenizer.truncon(maxlen, end=True)
print(f"Number of word piece tokens: {vocab_size}\nMaxlen: {maxlen}")

Number of word piece tokens: 50000
Maxlen: 270

In [39]:
tokenizedset = trainset.tokenized(tokenizer)
dataloader = tokenizedset.dataloader(batch_size=128, drop_last=False)

In [40]:
model = Transformer(vocab_size, maxlen, pad_id=pad, dm=512, nhead=8, layers=6, dff=2048)
optimizer = optim.Adam(model.parameters(), lr=0.1, betas=(0.9, 0.98), eps=10e-9)
scheduler = optim.lr_scheduler.ReduceLROnPlateau(optimizer, factor=0.9, patience=10)
evaluator = Evaluator(testset, tokenizer, start, end, maxlen, sample=32, ngrams=4, threshold=20, 
                    mode="geometric", verbose=True, device=device)
checkpoint = Checkpoint(model, optimizer, scheduler, evaluator, epochs=25, 
                    path="checkpoints/en-de", overwrite=False, verbose=True)
model.to(device);

In [ ]:
train(dataloader, model, optimizer, scheduler, evaluator, checkpoint, 
    epochs=1000, warmups=100, verbose=True, device=device)

In [ ]:
# save_model(model, "Transformer-Base", "models/")
# save_tokenizer(tokenizer, "Tokenizer-en-de", "models/")

In [ ]:
# tokenizer = load_tokenizer("models/Tokenizer-en-de")
# model = load_model(model, "models/Transformer-Base", device)